.answertext{
  font-size: 25pt;
  left: 100px;
  top: 10px;
  position: absolute;
}

.answerbox{
  font-size: 25pt;
  left: 20px;
  top: 50px;
  position: absolute;
}

.buttonposSend{
  font-size: 15pt;
  left: 150px;
  top: 200px;
  position: absolute;
}

