.answertext{
  font-size: 25pt;
  left: 100px;
  top: 0px;
  position: absolute;
}

.answerbox{
  font-size: 25pt;
  left: 0px;
  top: 30px;
  position: absolute;
}

.buttonposSend{
  font-size: 15pt;
  left: 160px;
  top: 100px;
  position: absolute;
}

