.vectrical{
  writing-mode: vertical-lr; 
  line-height:100px
}

.text1{
  width: 60pt;
  height: 150pt;
  top: 10pt;
  left: 10pt;
  font-size: 50pt;
  font-style: normal;
  position: absolute;
}

.text1:before{
  width: 60pt;
  height: 50pt;
  top: 49pt;
  left: 6pt;
  content: "";
  position: absolute;
  border: 2px solid black;
}

.text2{
  width: 60pt;
  height: 150pt;
  top: 10pt;
  left: 110pt;
  font-size: 50pt;
  font-style: normal;
  position: absolute;
}

.text2:before{
  width: 60pt;
  height: 50pt;
  top: 49pt;
  left: 6pt;
  content: "";
  position: absolute;
  border: 2px solid black;
}

.text3{
  width: 60pt;
  height: 150pt;
  top: 10pt;
  left: 206pt;
  font-size: 50pt;
  font-style: normal;
  position: absolute;
}

.text3:before{
  width: 60pt;
  height: 50pt;
  top: 49pt;
  left: 6pt;
  content: "";
  position: absolute;
  border: 2px solid black;
}

.buttonpos{
  position: absolute;
  left: 300px;
  top: 300px;
}
