.text1{
  writing-mode: vertical-lr;
  font-size: 50pt;
  font-style: normal;
  top: 10pt;
  left: 10pt;
}

.text1:before{
  content: "";
  position: absolute;
  border: 2px solid black;
  top: 55pt;
  left: 10pt;
  width: 60pt;
  height: 50pt;
}
