.text1{
   writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  font-size: 50pt;
  font-style: normal;
}

.text:before{
   content: "";
   position: absolute;
   border: 2px solid black;
   width: 60pt;
   height: 50pt;
}
